html {

	background-color: #e8c981;

}

.grid-container{
	display: grid;
	grid-template-columns: 9vw 9vw 9vw;
	grid-template-rows: 10vw 2vw 1vw;
	grid-gap: 1vw;
	padding: 1vw;
}

.grid-title {
	grid-column-start: 1;
  	grid-column-end: 3;
  	padding: 1vw;
}


h1 {

    font: normal normal 3vw Helvetica, sans-serif;
    color: #211f21;
    display: grid;



}

button {

	background-color: #2f586e;
	border: none;
	color: #d1963a;
	padding: 1vw;
	display: grid;
	font:normal normal 2vw Helvetica, sans-serif;
	text-align: center;
	border-radius: 5px;
	transition-duration: 0.4s;

}

button:hover {
	background-color: #d1963a;
    color: white;
}